﻿@{ ViewBag.Title = "Psionet Feed Scraper Test"; }

<div class="container" style="visibility:hidden" id="app">

    <h3>Psionet Feed Scraper Test</h3>

    <div class="row">
        <div class="col-md-12">
            <div data-bind="ifnot: lastAjaxStatus">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Error with feed.
                </div>
            </div>

            <form role="form">
                <div class="form-group">
                    <input data-bind="value: url" type="url" class="form-control" />
                </div>
                <button data-bind="click: updateFeed" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12" data-bind="foreach: list">
            <div class="thumbnail">
                <div data-bind="if: ImageLinkBad">
                    <h3 class="text-center"><span class="label label-danger"> NO IMAGE</span></h3>
                </div>
                <div class="thumbnail" data-bind="ifnot: ImageLinkBad">
                    <img data-bind="attr: { src: imageUrl }" />
                </div>

                <div class="caption">
                    <h3>
                        <span data-bind="text: artist"></span>
                        <span> - </span>
                        <span data-bind="text: title"></span>
                    </h3>

                    <div data-bind="if: currentlyPlaying">
                        <h3>
                            Now Playing: <span data-bind="text: progress"></span>
                        </h3>
                    </div>
                    <div data-bind="ifnot: currentlyPlaying">
                        <h3>
                            Duration: <span data-bind="text: formattedDuration"></span>
                        </h3>
                    </div>

                    <div data-bind="if: currentlyPlaying">
                        <div class="progress">
                            <div data-bind=" style: {width: progressPercentage}" class="progress-bar" role="progressbar">
                                <span data-bind="text: progress"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/app")
}


